---
layout: page
title: Home
pagetitle: Welcome to my corner of the internet!
---

<div><img src="assets/photos/me.jpg" alt="me" style="display: block; margin-left: auto; margin-right: auto; margin-top: 30px; width: 60%;"></div>
<!-- <p class="message"><i>This site is currently being revamped; check back frequently for more updates.</i></p> -->
