<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.author.name }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}
      
      {% assign pages_list = site.pages %}

      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" style='{% if page.url == "/" %}text-decoration:underline;{% endif %}' href="{{ site.baseurl }}/">Home</a>
      <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" style='{% if page.url == "/about/" %}text-decoration:underline;{% endif %}' href='{{ site.baseurl }}/about/'>About</a>
      <a class="sidebar-nav-item{% if page.url == '/cv/' %} active{% endif %}" style='{% if page.url == "/cv/" %}text-decoration:underline;{% endif %}' href='{{ site.baseurl }}/cv/'>CV</a>
<!--      <a class="sidebar-nav-item{% if page.url == '/cv/' %} active{% endif %}" style='{% if page.url == "/cv/" %}text-decoration:underline;{% endif %}' href='/assets/documents/cv.pdf'>CV</a> -->
      <a class="sidebar-nav-item{% if page.url == '/blog/' %} active{% endif %}" style='{% if page.url == "/blog/" %}text-decoration:underline;{% endif %}' href='{{ site.baseurl }}/blog/'>Blog</a>
      <a class="sidebar-nav-item{% if page.url == '/archive/' %} active{% endif %}" style='{% if page.url == "/archive/" %}text-decoration:underline;{% endif %}' href='{{ site.baseurl }}/archive/'>Archive</a>
      <a class="sidebar-nav-item{% if page.url == '/other/' %} active{% endif %}" style='{% if page.url == "/other/" %}text-decoration:underline;{% endif %}' href='{{ site.baseurl }}/other/'>Other</a>
     
<!-- 
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.title != "About" and node.title != "Home" %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}}</a>
          {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
-->

      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->
      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}">Fork me on GitLab</a> -->
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="margin-bottom:20px;">
      {% if site.author.address %}
          <a href="{{ site.author.address }}" }}" itemprop="sameAs" rel="nofollow noopener noreferrer" style="margin:5px; text-decoration:none;">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </a>
      {% endif %}

      {% if site.author.email %}
          <a href="mailto:{{ site.author.email }}" style="margin:5px; text-decoration:none;">
            <meta itemprop="email" content="{{ site.author.email }}" />
            <i class="fa fa-envelope" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "" }}
          </a>
      {% endif %}

      {% if site.author.facebook %}
          <a href="https://www.facebook.com/{{ site.author.facebook }}" itemprop="sameAs" rel="nofollow noopener noreferrer" style="margin:5px; text-decoration:none;">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
      {% endif %}

      {% if site.author.linkedin %}
          <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" itemprop="sameAs" rel="nofollow noopener noreferrer" style="margin:5px; text-decoration:none;">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
      {% endif %}

      {% if site.author.gitlab %}
          <a href="https://gitlab.com/{{ site.author.gitlab }}" itemprop="sameAs" rel="nofollow noopener noreferrer" style="margin:5px; text-decoration:none;">
            <i class="fa fa-gitlab" aria-hidden="true"></i>
          </a>
      {% endif %}

      <a href="{{ site.baseurl }}/feed.xml" itemprop="sameAs" rel="nofollow noopener noreferrer" style="margin:5px; text-decoration:none;">
        <i class="fa fa-rss" aria-hidden="true"></i>
      </a>
</div>

    <p><span class="copy-left">&copy;</span> {{ site.time | date: '%Y' }}. No rights reserved.</p>
  </div>
</div>
