---
layout: default
title: Archive
pagetitle: Archive
---

	{% for post in site.posts %}
		<article class="post" style="margin:0px;">
			{% if post.external-url %}
				<h3>
					<a href="{{ post.external-url }}">{{ post.title }}</a> 
					<a class="anchor" href="{{ site.baseurl }}{{ post.url }}"><i class="icon-anchor"></i></a>
				</h3>
			{% else %}
				<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
				<span class="post-date">{{ post.date | date_to_string }}</span>
			{% endif %}
		</article>
	{% endfor %}
