<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-ff">

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

  </body>

</html>
