---
layout: default
---

<div class="post">
  <h1 class="post-title" style="text-align:center;">{{ page.title }}</h1>
  <span class="post-date" style="text-align:center;">{{ page.date | date: "%A, %B %e, %Y" }}</span>
  <span style="text-align:justify;">{{ content }}</span>
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl}}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
